*{
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
 }
body{
    margin: 0;
    background: rgb(63, 64, 108);
}
.wrap{
    max-width: 80%;
    margin: 0px auto;
    padding: 70px 0;
}
header{
    display: flex;
    background: rgb(82, 85, 126);
    flex:1 1 0;
    justify-content: space-between;
}
.right{
    padding: 8px;
}
.dot{
    border: 2px solid white;
    border-radius: 50px;
    background: white;
    display: inline-block;
}
.one{
    width: 12px;
    height: 12px;
}
.two{
    margin-bottom: 2px;
    width: 8px;
    height: 8px;
}
.three{
    margin-bottom: 4px;
    width: 4px;
    height: 4px;
}
.bang{
    margin: 12px;
    display: inline;
}
.bang, input[type="text"]{
    font-size: 18px;
    font-style: italic;
    width: 100%;
}
input[type="text"]{
    background: rgb(90 ,95 ,137);
    border: none;
    padding: 0 10px;
}
.left{
    min-width: 290px;
    display: flex;
}
.tick-cont{
    width: 16%;
    background: rgb(168, 140, 217);
    padding-left: 20px;
}
.tick{
    margin: 10px 0;
    padding: 7px 4px;
    transform: rotate(50deg) ;  
   -webkit-transform: rotate(50deg);
    border: solid white;
    border-width: 0px 4px 4px 0px;
    display: inline-block;
}
.grid-cont{
    display: grid;
    margin: 0 auto;  
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(400px,auto);
    grid-gap: 8px;
  
}
.grid-cont > div{
   background: rgb(90, 95, 137) ;
}
.cell_one{
    grid-column: span 2;
    position: relative;
}
.cell_ten{
    grid-column: span 2;
    position: relative;
}
.grid-cont img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.bullet{
    border: 4px solid rgb(170, 142, 216);
    border-radius: 50px;
    padding:2px;
    width:1px;
    height:1px;
    float: left;
}
.lib{
    font: italic normal  12px/42px Arial, Helvetica, sans-serif ;
    color: rgb(136, 141, 181);
    padding: 10px;
}
h1{
    font-weight: 600;
}
.content{
    padding: 20px;
}
.footer, .footer_ten{
    padding-top: 18px;
    position: absolute;
    bottom: 22px
}
.fa-user,.fa-clock-o,.user,.time{
    opacity: 0.5;
    font-size: 14px;
}
.user,.time{
    padding: 2px;
}
.cell_four{
    padding: 20px;
}
.cell_four h1{
    font-size: 35px;
    font-weight: 700;
    width: 100px;
    margin: 60px 0;
}
.cell_four p{
    font-size: 20px;
    font-weight: bold;
    padding: 6px;
    background: rgb(174, 148, 219);;
    border: 2px solid rgb(167, 136, 221);
    border-radius: 4px;
}
.info{
    min-height: 50%;
}

/* --------------- MEDIA QUERIES --------------- */

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .grid-cont{
        grid-template-columns: repeat(3,1fr);
    }
 }

/* Smartphones (portrait and landscape) ---- */

@media only screen and (min-width : 320px) and (max-width : 768px) {
        header{
            flex-direction: column;
    }
        .left{
            justify-content: center;
            background: rgb(90 ,95 ,137); 
    }
        .right {
             text-align: center;
        }
        input[type="text"]{
            min-width: 250px;
            width: 20%;
        }
        .tick-cont{
           width: 50px;
        }  
        .grid-cont{
            display: flex;
            flex: 100%;
            flex-direction: column;
    }
        .footer, .footer_ten{
            bottom: 12px;
    } 
} /*---------------- END OF MEDIA QUERIES ----------------*/
